body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    font-size: 16px !important;
}

 

.topheader { 
    background-color: #ffa500;
    color: #fff; 
    text-align: center;
    padding: 20px;
}

.abstract-toggle,
.journal-info,
.author-info {
    display: inline;
    margin: 0;
}
 

 

section { 
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

 
section p,
section ul,
section a, 
section ol {
  /* Adjust the styles as needed */
  font-size: 16px !important;
}

h2 {
    color: #333;
}
 
  
.list-content {
margin-bottom: 10px;
}

.abstract-toggle {
margin-bottom: 5px;
}
  
.list-footer {
text-align: center;
}

  
.paper-list {
    list-style-type: none;
    padding: 0;
}

.paper-list li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.paper-list li h3 {
    margin: 0; 
    color: #333;
}

.paper-list li p {
    margin: 0; 
    color: #666;
}

.paper-list li a {
    color: #ffa500;
    text-decoration: none;
}

.paper-list li a:hover {
    text-decoration: underline;
}


h3 {
    margin: 0;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

 

.AboutMe {
    display: flex;
    align-items: flex-start; /* Align items at the top */
}

.AboutMe img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.AboutMe .text { 
    flex-direction: column; /* Arrange text vertically */
    margin: 0; /* Remove any default margin */
}

.AboutMe .text p {
    margin: 0; /* Remove any default margin */
    margin-bottom: 10px;
}

.AboutMe .text a {
    color: #007bff;
    text-decoration: none;
}

.AboutMe .text a:hover {
    text-decoration: underline;
}
  



.abstract {
    display: none;
  }

  
.abstract-toggle {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    margin-top: 10px;
  }
  
.abstract-toggle:hover {
color: #0056b3;
}

.show {
display: block;
}
  
  
  
 


