body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    font-size: 16px !important;
}

 

.topheader { 
    background-color: #ffa500;
    color: #fff; 
    text-align: center;
    padding: 20px;
}

.abstract-toggle,
.journal-info,
.author-info {
    display: inline;
    margin: 0;
}
 

 

section { 
    max-width: 800px;
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

 
section p,
section ul,
section a, 
section ol {
  /* Adjust the styles as needed */
  font-size: 16px !important;
}

h2 {
    color: #333;
}
 
  
.list-content {
margin-bottom: 10px;
}

.abstract-toggle {
margin-bottom: 5px;
}
  
.list-footer {
text-align: center;
}

 
  
.paper-list,
.notebook-list {
    list-style-type: none;
    padding: 0;
}

.paper-list li,
.notebook-list li{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.paper-list li h3, 
.notebook-list li h3{
    margin: 0; 
    color: #333;
}

.paper-list li p,
.notebook-list  li p{
    margin: 0; 
    color: #666;
}

.paper-list li a,
.notebook-list li a{
    color: #ffa500;
    text-decoration: none;
}

.paper-list li a:hover,
.notebook-list li a:hover{
    text-decoration: underline;
}


h3 {
    margin: 0;
    color: #333;
}

a {
    color: #ffa500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

 

.AboutMe {
    display: flex;
    align-items: flex-start; /* Align items at the top */
}

.AboutMe img {
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.AboutMe .text { 
    flex-direction: column; /* Arrange text vertically */
    margin: 0; /* Remove any default margin */
}

.AboutMe .text p {
    margin: 0; /* Remove any default margin */
    margin-bottom: 10px;
}

.AboutMe .text a {
    color: #ffa500;
    text-decoration: none;
    margin-right: 10px;
}

.AboutMe .text a:hover {
    text-decoration: underline;
}
  



.abstract {
    display: none;
  }

  
.abstract-toggle {
    cursor: pointer;
    color: #ffa500;
    text-decoration: underline;
    margin-top: 10px;
  }
  
.abstract-toggle:hover {
color: #ffa500;
}

.show {
display: block;
}
   
/* Collapsible content styles */
.collapsed {
    display: none;
  }
  
 
/* Collapsible container styles */
.collapse-container {
    display: flex;
    align-items: center;
  }
  
  /* Arrow button styles */
  .arrow-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .arrow-button:hover { 
    color: #ffa500;
  }
  
  /* Arrow icon styles */
  .arrow-icon {
    width: 12px;
    height: 12px;
    border: solid;
    border-width: 0 2px 2px 0;
    display: inline-block;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  
  /* Arrow icon rotation for the expanded state */
  .arrow-button.expanded .arrow-icon {
    transform: rotate(-135deg);
  }
  
  
  